In [1]:
import mysql.connector

In [2]:
db_connection=mysql.connector.connect(host="localhost",user="root",passwd="root",auth_plugin="mysql_native_password")
print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000017008E29CA0>

In [18]:
db_cursor=db_connection.cursor()
db_cursor.execute("show databases")
for db in db_cursor:
    print(db)

('covid19',)
('information_schema',)
('inlab1',)
('inlab2',)
('l7inlab1',)
('l7post',)
('myschema',)
('mysql',)
('new',)
('pavan',)
('peergradedassignment',)
('performance_schema',)
('post',)
('project',)
('sakila',)
('skill7',)
('sqlexample',)
('student',)
('sys',)
('world',)

In [ ]:
db_cursor.execute("create database new")

In [ ]:
db_cursor.execute("use new")

In [15]:
db_cursor.execute("create table empl(id int primary key,name varchar(100))")

In [19]:
db_cursor.execute("create table stu(id int primary key,name varchar(100))")

In [20]:
db_cursor.execute("show tables")
for table in db_cursor:
    print(table)

('empl',)
('stu',)

In [22]:
db_cursor.execute("alter table empl add gender varchar(100)")

In [ ]:
db_cursor.execute("insert into empl values(1,'surya','male')")
db_connection.commit()
print(db_cursor.rowcount," Record Inserted")

In [28]:
db_cursor.execute("insert into empl values(2,'klu','male')")
db_connection.commit()
print(db_cursor.rowcount," Record Inserted")

1  Record Inserted

In [30]:
db_cursor.execute("insert into empl values(3,'pavan','male')")
db_connection.commit()
print(db_cursor.rowcount," Record Inserted")

1  Record Inserted

In [34]:
db_cursor.execute(" update empl set name='klef' ")
db_connection.commit()
print(db_cursor.rowcount," Record(s) Updated")

3  Record(s) Updated

In [36]:
db_cursor.execute(" update empl set name='surya' where id=1 ")
db_connection.commit()
print(db_cursor.rowcount," Record(s) Updated")

1  Record(s) Updated

In [37]:
db_cursor.execute("delete from empl where id=1")
db_connection.commit()
print(db_cursor.rowcount," Record(s) Deleted")

1  Record(s) Deleted

In [39]:
db_cursor.execute("select * from empl")
for row in db_cursor:
    print(row[0],row[1],row[2])

2 klef male
3 klef male

In [40]:
db_cursor.execute("select * from empl")
for row in db_cursor:
    print(row)

(2, 'klef', 'male')
(3, 'klef', 'male')

In [42]:
db_cursor.execute("select count(*) from empl")
print(list(db_cursor))

[(2,)]

In [44]:
db_cursor.execute("select name from empl")
print(list(db_cursor))

[('klef',), ('klef',)]